<?xml version="1.0" ?>
<robot name="fanuc_cr7ial" xmlns:xacro="http://ros.org/wiki/xacro">

	<gazebo>
    <plugin name="ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>


  <xacro:include filename="$(find fl_description)/urdf/fanuc_macro.xacro"/>
  <fanuc_cr7ial prefix=""/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
