<launch>
	<include file="$(find pylon_camera) /launch/pylon_camera_node.launch"/>
	<node pkg="fl_learning" type="learning.py" output="screen" name="learn">
	</node>
	<node pkg="fl_compvis" type="computer-vision.py" output="screen" name="see">
	</node>
	<node pkg="fl_control" type="control_learning_real.py" output="screen" name="control">
	</node>
</launch>