<launch>
  <include file="$(find fl_gazebo)/launch/simulate.launch"/>
  <node pkg="fl_learning" type="learning.py" output="screen" name="learn">
  </node>
  <node pkg="fl_compvis" type="computer-vision.py" output="screen" name="see">
  </node>
  <node pkg="fl_control" type="control_learning_sim.py" output="screen" name="control">
  </node>
</launch>